$font-family-main: Georgia, Times, 'Times New Roman', serif;
$font-family-headings: Georgia, Times, 'Times New Roman', serif;
$color-bg: rgb(236, 222, 71);
$color-header-bg: rgb(15, 15,15);
$color-header-text: rgb(236, 222, 71);
$color-heading:rgb(236, 222, 71);
$color-paragraph-bg: rgb(158, 157, 155);
$color-footer-bg:rgb(236, 222, 71);
$color-navbar-bg: #2e2e2c;
$color-link: rgb(15, 15, 14);
$color-link-hover: #252421;
$color-h3-bg: rgb(15, 15, 14);
$color-h3-text: rgb(15, 15, 14);