
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(16, 16, 15);
  margin: 0;
  padding: 0;

}

header {
  background-color: rgb(6, 6, 6);
  background-image: url('../imagenes y video/lasprimeras.jpg'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
 
  min-height: 45vh;
  color: rgb(177, 175, 158);
  text-align: center;
  padding: 30px;
}
.header-title {
  font-size: 80px;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  text-shadow: 6px 6px 12px rgb(0, 0, 0);
  -webkit-text-fill-color: rgb(238, 214, 94);
  animation: zoomIn 1.5s ease-in-out; 
}

h2, h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(224, 193, 68);
  animation: fadeIn 1s ease-in-out;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
}

img {
  width: 100%;
  max-width: 300px;
  background-color: rgb(158, 157, 155);
  border-radius: 10px;
  padding: 5px;
}

p {
  background-color: rgb(158, 157, 155);
  color: black;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}

.catalogo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: black;
}

.bombilla {
  background-color: rgb(158, 157, 155);
  border-radius: 10px;
  padding: 1px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.bombilla:hover {
  transform: scale(1.05);
}

.bombilla img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.bombilla button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(6, 6, 6);
  color: rgb(236, 222, 71);
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.bombilla button:hover {
  background-color: #252421;
}
footer {
  background-color: #282626;
  color: rgb(15, 14, 14);
  text-align: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  margin-top: 20px;
}
.navbar {
  background-color: #292928;
}

.navbar a {
  color: rgb(229, 194, 79);
  text-decoration: none;
  padding: 5px 15px;
}

.navbar a:hover {
  background-color: #ebc030;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
      transform: scale(0.5); 
      opacity: 0;
  }
  100% {
      transform: scale(1); 
      opacity: 1;
  }
}


@media (max-width: 768px) {
  .header-title {
    font-size: 60px;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  .catalogo-container {
    flex-direction: column;
    align-items: center;
  }

  .bombilla {
    width: 90%;
  }

  .video {
    max-width: 100%;
    height: auto;
  }
}
