$font-family-main: 'Arial', sans-serif;
$font-family-headings: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$color-bg: rgb(173, 154, 87);
$color-header-bg: rgb(6, 6, 6);
$color-header-text: rgb(116, 113, 83);
$color-heading: rgb(181, 161, 81);
$color-paragraph-bg: rgb(158, 157, 155);
$color-footer-bg: #dacbcb;
$color-navbar-bg: #1a1a17;
$color-link: rgb(223, 223, 162);
$color-link-hover: #252421;
$color-h3-bg: rgb(79, 72, 72);
$color-h3-text: rgb(231, 220, 192);