$font-family-main: 'Arial', sans-serif;
$font-family-headings: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$color-bg: rgb(224, 209, 155);
$color-header-bg: rgb(6, 6, 6);
$color-header-text: rgb(236, 222, 71);
$color-heading: rgb(239, 203, 59);
$color-paragraph-bg: rgb(158, 157, 155);
$color-footer-bg:rgb(244, 206, 18);
$color-navbar-bg: #2e2e2c;
$color-link: rgb(18, 18, 17);
$color-link-hover: #252421;
$color-h3-bg: rgb(15, 15, 14);
$color-h3-text: rgb(26, 26, 25);