* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: rgb(212, 183, 79);
}

header  {
  background-color: rgb(6, 6, 6);
  color: rgb(238, 214, 32);
  text-align: center;
  padding: 30px;
}
header h2 {
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-color: rgb(238, 221, 37);
}

h1, h2, h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(224, 193, 68);
  animation: fadeIn 1s ease-in-out;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
  background-color: rgb(120, 119, 113);
  color: rgb(239, 187, 55);
  text-align: center;
  padding: 10px;
}

p {
  background-color: rgb(158, 157, 155);
  color: black;
  text-align: justify;
  padding: 15px;
  border-radius: 10px;
}

.imagen {
  width: 100%;
  max-width: 300px;
  border: 5px solid black;
  margin: 10px;
  border-radius: 8px;
  animation: zoomIn 1s ease-in-out;
}
.imagen:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.video {
  width: 100%;
  max-width: 500px;
  height: 300px;
  margin: 10px;
}

footer {
  background-color: #dacbcb;
  color: rgb(27, 25, 25);
  text-align: center;
  padding: 15px;
}

.navbar {
  background-color: #1a1a17;
}
.navbar a {
  color: rgb(237, 191, 40);
  text-decoration: none;
  padding: 10px 15px;
}
.navbar a:hover {
  background-color: #ebc030;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.caja1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  header h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.9rem;
  }
  form {
    padding: 15px;
  }
  .form-label, .form-control {
    font-size: 0.9rem;
  }
  button, .btn {
    padding: 8px 15px;
  }
}


